<h1>Blog cá nhân ! </h1>
<form action="/blog"  enctype="multipart/form-data" method="post">
    Nhập tiêu đề blog: <input name="title">
    <br>
    Nhập nội dụng blog: <input name="content">
    <button type="submit">Save</button>
</form>